Source: python-linz-stationcoordmodel
Maintainer: Chris Crook <ccrook@linz.govt.nz>
Section: python
X-Python-Version: >= 3.5
Priority: optional
Build-Depends:
  python3-all,
  python3-setuptools,
  python3-linz-geodetic,
  debhelper (>= 9)
Standards-Version: 3.9.1

Package: python3-linz-stationcoordmodel
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, 
  python3-linz-geodetic
Recommends:
  python3-pyqt5,
  python3-numpy,
  python3-matplotlib,
  python3-scipy,
  python3-linz-geodetic,
  python3-linz-deformationmodel
Description: Python LINZ station_coord_model
 Tools for calculating and manage the station coordinate models, models of 
 CORS station time series
 .
 This package installs the library for Python 3.
